/A_TestRunner.class
/BishopTest.class
/BoardTest.class
/ChessPieceTest.class
/JunitTestSuite.class
/KingTest.class
/KnightTest.class
/PawnTest.class
/PlayerTest$Player_1.class
/PlayerTest$Player_2.class
/PlayerTest.class
/QueenTest.class
/RookTest.class
/TestRunner.class
/TestTemplate.class
/PawnTest$BoardTest.class
